/* Estilos para los tabs */
.container-tabs {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #eaeaea;
  flex-wrap: wrap;
  padding: 20px;
}

.container-tabs .tab-item {
  display: inline-block;
  margin: 0 15px;
  padding: 12px 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-tabs .tab-item:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 3px;
  background: linear-gradient(5deg, 
    #ff9e6d 45%,   /* Naranja */
    #ffcc89 100% /* Amarillo - últimos rayos de sol */
  );
  transition: width 0.3s ease;
}

.container-tabs .tab-item.active:after,
.container-tabs .tab-item:hover:after {
  width: 100%;
}

.container-tabs .tab-item.active .container-tab-title span {
  font-weight: 700;
}

.container-tab-title span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
  position: relative;
}

/* Estilos para el contenido de los tabs */
.tab-contents {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


